<div id="container">

	<p><%= link_to "Home", recruits_path %></p>

  <div class="one">
  	<h1>Recruitment</h1>
  </div>

  <br>

  <div class="two">
  	<p><%= link_to "Add to intervention", new_recruitment_intervention_path(@recruitment) %></p>
  </div>
</div>