<h1>All Interventions</h1>

<% @interventions.each do |intervention| %>
	<ul>
		<li><%= link_to "#{intervention.id} - #{intervention.participant_id}", edit_recruit_intervention_path(intervention.recruit_id, intervention.id) %></li>
	</ul>
<% end %>
