<div id="container">
	<div class="nav">
		<ul class="nav">
			<li><%= link_to "Summary", 'summary', class: "nav-selected" %></li>
			<li><%= link_to "Patient List", recruits_path, class: "nav" %></li>
			<li><%= link_to "Recruitments", recruitments_path, class: "nav"  %></li>
		</ul>
	</div>

	<div class="one">
		<h1>Change</h1>
	</div>

	<div class="two">
		<h3>Hilo 30-Day Intervention Summary</h3>
			<% @interventions.each do |intervention| %>
				<% if Recruitment.find(intervention.recruitment_id).group = "Hilo 30-Day" %>
						<ul>
							<li><%= intervention.outcome %></li>
						</ul>
				<% end %>
			<% end %>



		<h3>Hilo 1-Year Intervention Summary</h3>



		<h3>Honolulu 1-Year Intervention Summary</h3>
	</div>
</div>