<div id="container">
	<div class="nav">
		<h5><%= link_to "Home", recruits_path, class: "nav" %></h5>
	</div>

	<div class="one">
		<h1>Summary of Interventions</h1>
	</div>

	<div class="two">
		<h3>Hilo 30-Day Intervention Summary</h3>



		<h3>Hilo 1-Year Intervention Summary</h3>



		<h3>Honolulu 1-Year Intervention Summary</h3>
	</div>
</div>