/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a:link {
	color: gray;
	text-decoration: none;
}

a:link.nav {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: gray;
	text-decoration: none;
}

a:visited.nav {
	color: white;
	text-decoration: none;
}

a:hover.nav {
	color: black;
	text-decoration: underline;
}

a.edit {
	color: black;
	background-color: white;
	;
	padding: 8px;
	border-radius: 5px;
}

a:hover.edit {
	color: white;
	background-color: black;
	text-decoration: underline;
}

a.add {
	color: black;
	background-color: lightgray;
	;
	padding: 10px;
	border-radius: 5px;
	border: solid gray;
	font-weight: bold;
}

a:hover.add {
	text-decoration: underline;
	background-color: white;
}

#container {
  position: relative;
  width: 1100px;
  background-color: white;
  margin: auto;
}

body {
	background-color: white;
	font-family: cambria;
}

h1, h2, h3, h4, h5 {
	font-family: Roboto, sans-serif;
}

p.add {
	font-size: 20px;
}

div.nav {
	background-color: #FC913A; /* Show Me Your Heart */
	border: none;
	padding: 1px 20px 1px 20px;
	width: 1060px;
	margin: auto;
	color: white;
}

div.one {
	background-color: #666666; /* Foxy Love */
	border: none;
	padding: 5px 20px 5px 20px;
	width: 1060px;
}

div.two {
	position: relative;
	background-color: #BAE4F0; /* FSoft blue and green */
	padding: 5px 20px 5px 20px;
	width: 1060px;
}

div.signin {
	position: relative;
	background-color: #BAE4F0; /* FSoft blue and green */
	padding: 20px 20px 20px 20px;
	width: 1060px;
	font-family: Roboto, sans-serif;
}

div.table {
	background-color: white; /* Foxy Love */
	padding: 0px 20px 0px 20px;
	width: 1060px;
	margin: auto;
}

table {
	border: 1px solid black;
	text-align: center;
	background-color: gray;
}

th.hosp {
	background-color: #BC4D2F;
	color: white;
	padding: 5px;
}

th.er {
	background-color: #D6754A;
	color: white;
	padding: 5px;
}

td {
	background-color: white;
}

td.string {
	text-align: left;
}

table {
	width: 1060px;
	padding: 1px;
}

table.recruitment {
	width: 600px;
	padding: 1px;
}


